In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

## Error correction and statistics

In [11]:
ds = pd.read_csv('cleaning_df.csv')
ds.columns

Index(['Unnamed: 0', 'Material', 'Diameter, (nm)', 'Zeta potential (mV)',
       'Concentration, (g/L)', 'Viability (%)', 'Time, (h)',
       'Molecular weight, (g/mol)', 'Average electronegativity', 'Elements',
       'Average ionic radius, Å'],
      dtype='object')

In [12]:
ds.drop('Unnamed: 0', axis=1, inplace=True)
for column in ds.columns:
    ds[column] = ds[column].replace(' ', np.nan)

In [13]:
ds.isna().sum()

Material                       0
Diameter, (nm)                 2
Zeta potential (mV)            6
Concentration, (g/L)           0
Viability (%)                  0
Time, (h)                      1
Molecular weight, (g/mol)    252
Average electronegativity    113
Elements                       6
Average ionic radius, Å      334
dtype: int64

## PCA analysis

In [5]:
df = pd.read_csv('pca_df.csv')
df.describe()

,Unnamed: 0,material,cell_line,cell_species,cell_origin,cell_type,toxicity
count,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000,569.000000
mean,284.000000,4.899824,5.398946,0.975395,2.827768,0.323374,0.852373
std,164.400426,1.466342,4.433078,0.243419,2.197598,0.468176,0.355042
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,142.000000,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,284.000000,5.000000,4.000000,1.000000,3.000000,0.000000,1.000000
75%,426.000000,6.000000,10.000000,1.000000,5.000000,1.000000,1.000000
max,568.000000,6.000000,13.000000,2.000000,7.000000,1.000000,1.000000